<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Bigger, Blacker Cards: An Online Cards Against Humanity Game</title>
</head>
<body>
    <div>
        
    </div>
</body>
</html>
